$sidebar-bg-color: #4d576d;
$sidebar-text-color: #fff;
$sidebar-close-icon-size: 2rem;
$sidebar-animation-duration: 500ms;
$sidebar-width: 15rem;
$sidebar-menu-item-color: #fff;
$sidebar-menu-item-active-color: #fff;
$sidebar-overlay-bg-color: #000;
