$disabled-bg-color: #a9a9a9;
$disabled-text-color: #e3e3e3;
$btn-round-bg-color: #ffa500;
$btn-round-active-color: #de8f00;
$modal-footer-border-color: #eceeef;
$task-accepted-bg-color: #90ee90;
$selected-bg-color: #4d576d;
$selected-text-color: #fff;
